
.thingsLine{
	border-radius: 5px;
	background-color: black;
	width: 5vw;
	height: 6px;
	margin-top: 80px;
	margin-left: 10vw;
	margin-bottom: 20px;
}

.words{
    border-radius: 20px;
    position:relative;
    left: 17vw;
    width: 66vw;
}

.thingsTitle{
	font-size: 30px;
	margin-left: 8vw;
	margin-bottom: 10px;
}

.thingsInfo{
	font-size: 25px;
	margin-left: 9vw;
	margin-right: 50px;
}



#side{
    position:fixed;
    width: 100vw;
    height:80px;
    left: 0px;
	z-index: 5;
	background: white;
	border-bottom: 1px solid lightgrey;
}
#listIcon{
    pointer-events: none;
    opacity: 0;
}
#buttons{
    position: absolute;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 10px;
}
.dot{
    position: absolute;
    text-align: center;
	padding: 0.7vw;
	margin-right: 0.2vw;
    margin-top: calc(30px - 0.8vw);
    font-size: calc(10px + 0.8vw);
	border-radius: 20px;
	color: #66a0ff;
}
.dot:hover{
	background-color: #d6e5ff;
    color:#689fff;
}
#nav1{
    width: calc(80px + 0.8vw);
    margin-left: calc(100vw - 580px);
}
#nav2{
    width: calc(50px + 0.8vw);
    margin-left: calc(100vw - 470px);
}
#nav3{
    width: calc(40px + 0.8vw);
    margin-left: calc(100vw - 385px);
}
#nav4{
    width: calc(125px + 0.8vw);
    margin-left: calc(100vw - 315px);
}
#nav5{
    width: calc(95px + 0.8vw);
    margin-left: calc(100vw - 165px);
}




#loveOut{
	z-index: 3;
	position: relative;
	background-color: #ededed;
	margin-top: -60px;
    width: 100vw;
}

#loveSubTitle{
	font-family: "Antic Didone";
	font-size: 30px;
    width: 30vw;
    text-align: center;
    margin-left: 18vw;
	margin-top: 70px;
	margin-bottom: 60px;
    color: #707070;
}
#loveSub{
	min-height: 250px;
    margin-bottom: 10px;
    margin-left: calc()
}

.loveTexts{
	position: relative;
	left: 32vw;
    width: 30vw;
	min-height: 200px;
}

#loveDetTitle{
	width: 30vw;
}

#loveDes{
	width: 30vw;
}

#lovePic{
	position: absolute;
	border-radius: 40px;
	left: 5vw;
	width: calc(10vw + 100px);
}





#who{
	background-image: url("/Travel/travelBackground.jpg");
	height: calc(60vw + 200px);
    width: 100vw;
}
#whoInfo{
    width: 96vw;
    margin-left: 10vw;
    margin-top: 60px;
}
.whoSub{
    float: left;
	left: 100px;
	width: 20vw;
	height: 14vw;
    overflow: hidden;
	font-size: 40px;
    background-color: red;
}
.whoPic{
	position: absolute;
    width: 20vw;
    height: 15vw;
	text-align:center;
	display:block;
    margin-top: -5px;
}