
.thingsLine{
	border-radius: 5px;
	background-color: black;
	width: 10vw;
	height: 4px;
	margin-top: 80px;
	margin-left: 10vw;
	margin-bottom: 20px;
}

.words{
    position:relative;
    left: calc(20vw - 80px);
    width: calc(60vw + 160px);
}
#love{
    border-radius: 20px;
    position:relative;
    left: calc(20vw - 100px);
    width: calc(60vw + 200px);
    margin-bottom: -200px;
}

.thingsTitle{
	font-size: 50px;
	margin-left: 7vw;
	margin-bottom: 12px;
    font-family: 'Poiret One', cursive;
    font-weight: 800;
}



#side{
    position:fixed;
    width: 100vw;
    height:80px;
    left: 0px;
	z-index: 5;
	background: white;
	border-bottom: 1px solid lightgrey;
}
#listIcon{
    pointer-events: none;
    opacity: 0;
}
#buttons{
    position: absolute;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 10px;
}
.dot{
    position: absolute;
    text-align: center;
	padding: 0.7vw;
	margin-right: 0.2vw;
    margin-top: calc(30px - 0.8vw);
    font-size: calc(10px + 0.8vw);
	border-radius: 20px;
	color: #66a0ff;
}
.dot:hover{
	background-color: #d6e5ff;
    color:#689fff;
}
#nav1{
    width: calc(80px + 0.8vw);
    margin-left: calc(100vw - 580px);
}
#nav2{
    width: calc(50px + 0.8vw);
    margin-left: calc(100vw - 470px);
}
#nav3{
    width: calc(40px + 0.8vw);
    margin-left: calc(100vw - 385px);
}
#nav4{
    width: calc(125px + 0.8vw);
    margin-left: calc(100vw - 315px);
}
#nav5{
    width: calc(95px + 0.8vw);
    margin-left: calc(100vw - 165px);
}




#loveOut{
	z-index: 3;
	position: relative;
	background-color: #fcfcfc;
	margin-top: -60px;
    width: 100vw;
}

#loveSub{
	min-height: 250px;
    margin-bottom: 20px;
}

.loveTexts{
	position: relative;
	left: calc(30vw + 70px);
    width: calc(15vw + 190px);
	min-height: 100px;
}

#loveDetTitle{
    width: calc(25vw + 210px);
}

#loveDes{
    margin-top: 20px;
    width: calc(15vw + 290px);
    margin-bottom: 60px;
}

#lovePic{
	position: absolute;
	border-radius: 40px;
    margin-top: 20px;
	margin-left: calc(18vw - 110px);
	width: calc(10vw + 150px);
}





#who{
	background-image: url("/Travel/travelBackground.jpg");
	height: calc(60vw + 200px);
    width: 100vw;
}
#whoInfo{
    width: 80w;
    margin-left: 10vw;
    margin-top: 60px;
}
.whoSub{
    float: left;
	width: 20vw;
	height: 14vw;
    overflow: hidden;
	font-size: 40px;
    background-color: red;
}
.whoPic{
	position: absolute;
    width: 20vw;
    height: 15vw;
	text-align:center;
	display:block;
    margin-top: -5px;
}
#whereTable{
    position: absolute;
    width: 80vw;
    height: 42vw;
    margin-left: 10vw;
    z-index: 3;
    margin-top: -5px;
}
.whereCell{
    float: left;
    padding-top: 4vw;
	width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
	height: 10vw;
    overflow: hidden;
	font-size: 40px;
    z-index: 0;
    text-align:center;
    background-color: lightblue;
    font-size: calc(4vw - 20px);
    opacity: 0;
}
.whereCell:hover{
    opacity: 0.6;
}
.whereCell1{
    float: left;
    padding-top: 4vw;
	width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
	height: 11vw;
    overflow: hidden;
	font-size: 40px;
    z-index: 0;
    text-align:center;
    background-color: lightblue;
    opacity: 0;
    font-size: calc(4vw - 10px);
}
.whereCell1:hover{
    opacity: 0.7;
}
.whereCell2{
    float: left;
    padding-top: 4vw;
	width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
	height: 11vw;
    overflow: hidden;
	font-size: 40px;
    z-index: 0;
    text-align:center;
    background-color: lightblue;
    opacity: 0;
    font-size: calc(4vw - 10px);
}
.whereCell2:hover{
    opacity: 0.7;
}