#website{
    width: 100vw;
	cursor: url('/Images/paw.png'), auto;\
}
#name{
    height: 150vh;
    width: 100vw;
    z-index: -1;
}
#nameHolder{
	opacity: 0.6;
    margin-left: 5vw;
	width:90vw;
    height: 100vh;
	position: absolute;
}
#nmtext{
    background: grey;
	color: white;
    font-size: 50px;
	width:90vw;
    margin-top: 40vh; 
    text-align: center;
	position: relative;
}
#background{
    margin-top: -300px;
    left: -600px;
    margin-left: 40vw;
	width: 1500px;
	z-index: -10;
	position: fixed;
}
#side{
    position:fixed;
    width: 100vw;
    height:80px;
    left: 0px;
	z-index: 5;
	background: white;
	border-bottom: 1px solid lightgrey;
}

.dot{
    float: right;
    text-align: center;
	padding: 0.7vw;
	margin-right: 0.2vw;
    margin-top: calc(30px - 0.8vw);
    font-size: calc(10px + 0.8vw);
	border-radius: 20px;
	color: #66a0ff;
}
.dot:hover{
	background-color: #d6e5ff;
    color:#689fff;
}
#nav1{
    width: calc(80px + 0.8vw);
}
#nav2{
    width: calc(50px + 0.8vw);
}
#nav3{
    width: calc(40px + 0.8vw);
}
#nav4{
    width: calc(125px + 0.8vw);
}
#nav5{
    width: calc(90px + 0.8vw);
    margin-right: 2vw;
}

#contents{
	margin-top: 100vh;
	width: 99vw;
}

#titleLine{
	height: 1px;
	width: calc(200px + 40vw);
	padding-top: 100px;
	margin-bottom: 30px;
	margin-left: calc(30vw - 100px);
	border-bottom: 2px solid #003a99;
}

.title{
    text-align: center;
	font-size: calc(20px + 1vw);
    font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	position: absolute;
	padding-top: 80px;
	z-index: 3;
	color: #003a99;
    margin-top: calc(14px - 1vw);
}


#thingsTitle{
	width: 26vw;
	background-color: #fcfcfc;
	margin-left: calc(47vw - 50px);
	width: calc(8vw + 100px);
}

#thingsOut{
	margin-top: -1000px;
	background-color: #fcfcfc;
	padding-bottom: 300px;
    width: 100vw;
}

.thingsLine{
	border-radius: 5px;
	background-color: black;
	width: 5vw;
	height: 6px;
	margin-top: 80px;
	margin-left: 10vw;
	margin-bottom: 20px;
}

.words{
    border-radius: 20px;
    position:relative;
    left: 17vw;
    width: 66vw;
}

.thingsTitle{
	font-size: 40px;
	margin-left: 8vw;
	margin-bottom: 10px;
}

.thingsDate{
	font-size: 18px;
	margin-left: 40px;
	color:dimgrey
}

.thingsInfo{
	font-size: 20px;
	margin-left: 9vw;
	margin-right: 50px;
}






#loveTitle{
	margin-left: calc(43vw - 120px);
	width: calc(15vw + 230px);
	background-color: #ededed;
}

#loveOut{
	z-index: 3;
	position: relative;
	background-color: #ededed;
	margin-top: -60px;
    width: 100vw;
}

#loveSubTitle{
	font-family: "Antic Didone";
	font-size: 30px;
    width: 30vw;
    text-align: center;
    margin-left: 18vw;
	margin-top: 70px;
	margin-bottom: 60px;
    color: #707070;
}
#loveSub{
	min-height: 250px;
    margin-bottom: 10px;
}
.loveSubLine{
	width: 400px;
	margin-top: -70px;
	margin-bottom: 40px;
	margin-left: 200px;
}
.loveTexts{
	position: relative;
	left: 32vw;
    width: 30vw;
	min-height: 200px;
}

#loveDetTitle{
	font-size: 30px;
	width: 30vw;
}

#loveDes{
	font-size: 20px;
	width: 30vw;
}

#lovePic{
	position: absolute;
	border-radius: 40px;
	left: 5vw;
	width: 20vw;
}




#musicOut{
	z-index: 3;
	position: relative;
	background-color: #fcfcfc;
	margin-top: -60px;
    padding-bottom: 80px;
    height: 230vw;
    width: 100vw;
}

#musicTitle{
	margin-left: calc(43vw - 80px);
	width: calc(12vw + 180px);
	background-color: #fcfcfc;
}
.musicDes{
    position: absolute;
    text-align: center;
    font-size: calc(16px + 1vw);
}
#row1{
    position: relative;
    margin-top: 10vw;
    height: 50vw; 
}
#row2{
    height: 50vw;
}
.musicPicSub{
    position: relative;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 20px;
}
.musicPic{
    margin-top: 3vw;
    height: 35vw;
    position: absolute;
}
#musicPic1{
    margin-left: 9vw;
}
#musicDes1{
    margin-left: 9vw;
    margin-top: 39vw;
    width: 26vw;
}
#musicPic2{
    margin-left: 40vw;
}
#musicDes2{
    margin-left: 40vw;
    margin-top: 39vw;
    width: calc(40vw - 130px);
}
#musicPic3{
    margin-left: 15vw;
}
#musicDes3{
    margin-left: 20vw;
    margin-top: 39vw;
    width: 36vw;
}
.musicVidSub{
    position: relative;
    width: 90vw;
    height: 50vw; 
    margin-left: 5vw;
    margin-top: 20px;
}
.musicVid{
    margin-top: 25px;
    margin-left: 10vw;
    width: 70vw;
    position: absolute;
}
#musicDesVid{
    margin-left: 15vw;
    margin-top: 43vw;
    width: 60vw;
}

.musicButton{
    position: absolute;
    width: 100px;
    margin-top: 150px;
}


#who{
	background-color: #ededed;
	height: 1000px;
    width: 100vw;
}
#whoTitle{
	margin-left: calc(46vw - 100px);
	width: calc(9vw + 180px);
	background-color: #ededed;
}
#whoInfo{
    width: 96vw;
    margin-left: 2vw;
    margin-top: 60px;
}
.whoSub{
    float: left;
	left: 100px;
	width: 24vw;
	height: 17vw;
    overflow: hidden;
	font-size: 40px;
    background-color: red;
}
.whoPic{
	position: absolute;
    width: 24vw;
    height: 18vw;
	text-align:center;
	display:block;
    margin-top: -5px;
}
.whoDes{
	width: 200px;
	height: 150px;
	text-align: center;
	vertical-align:middle;
	font-size: 10px;
	left: 720px;
	top: 300px;
}






#more{
	width: 80vw;
	margin-left: 10vw;
    background-color: blue;
    display: inline-block;
}
.meDes{
	top: 200px;
	position: fixed; 
	width: 100vw;
	text-align: center;
	z-index: 3;
	font-size: 100px;
}

.morePic{
	top:100px;
	margin-top: 50px;
	margin-left: 5vw;
	margin-bottom: 50px;
	width: 10vw;
	border-radius: 10px;
}
