
.thingsLine{
	border-radius: 5px;
	background-color: black;
	width: 10vw;
	height: 6px;
	margin-top: 80px;
	margin-left: -5vw;
	margin-bottom: 20px;
}

.words{
    border-radius: 20px;
    position:relative;
    left: 17vw;
    width: 66vw;
}

.thingsTitle{
	font-size: 40px;
	margin-left: 0vw;
	margin-bottom: 10px;
}

.thingsDate{
	font-size: 18px;
	margin-left: 40px;
	color:dimgrey
}

.thingsInfo{
	font-size: 25px;
	margin-left: 20px;
	margin-right: 50px;
}



#side{
}
#listIcon{
    position: absolute;
    width: 50px;
    margin-left: 30px;
    margin-top: 15px;
}
#buttons{
    position: absolute;
    margin-top: 80px;
    left: -380px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #616977;
    height: 50vh;
    width: 300px;
}
.dot{
    font-size: 30px;
    height: 8vh;
    width: 300px;
    border-bottom: 1px solid;
    text-align: center;
    color: white;
    padding-top: 2vh;
}
#nav5{
    border-bottom: 0px solid;
}
.dot:hover{
	background-color: #d6e5ff;
    color:#689fff;
}
#loveOut{
	z-index: 3;
	position: relative;
	background-color: #ededed;
	margin-top: -60px;
    width: 100vw;
}

#loveSubTitle{
	font-family: "Antic Didone";
	font-size: 30px;
    width: 30vw;
    text-align: center;
    margin-left: 18vw;
	margin-top: 70px;
	margin-bottom: 60px;
    color: #707070;
}
#loveSub{
	min-height: 250px;
    margin-bottom: 10px;
}

.loveTexts{
	position: relative;
    text-align: center;
    margin-left: -2vw;
    margin-bottom: 50px;
    width: 70vw;
}

#loveDetTitle{
	font-size: 30px;
	width: 70vw;
}

#loveDes{
	font-size: 20px;
	width: 70vw;
}

#lovePic{
	border-radius: 40px;
    margin-left: -2vw;
	width: 70vw;
}



#who{
	background-image: url("/Travel/travelBackground.jpg");
	background-image: url("/Travel/travelBackground.jpg");
	height: calc(100vw + 250px);
    width: 100vw;
}
#whoInfo{
    width: 96vw;
    margin-left: 2vw;
    margin-top: 60px;
}
.whoSub{
    float: left;
	left: 100px;
	width: 32vw;
	height: 24vw;
    overflow: hidden;
	font-size: 40px;
}
.whoPic{
	position: absolute;
    width: 32vw;
    height: 25vw;
	text-align:center;
	display:block;
    margin-top: -5px;
}