
.loveTexts{
	position: relative;
	left: 32vw;
    width: 30vw;
	min-height: 200px;
}

#loveDetTitle{
	font-size: 30px;
	width: 30vw;
}

#loveDes{
	font-size: 20px;
	width: 30vw;
}

#lovePic{
	position: absolute;
	border-radius: 40px;
	left: 5vw;
	width: 20vw;
}


.whoSub{
    float: left;
	left: 100px;
	width: 24vw;
	height: 17vw;
    overflow: hidden;
	font-size: 40px;
    background-color: red;
}
.whoPic{
	position: absolute;
    width: 24vw;
    height: 18vw;
	text-align:center;
	display:block;
    margin-top: -5px;
}